html, body, #borderContainer, #map {
  width: 100%;
  height: 100%;
}

/* Color the input text in IE */
input:-ms-input-placeholder {
    color: lightgray;
}

html, body {
  margin: 0;
  overflow: hidden;
}

#topPane > div, #topPane h1 {
    display: inline;
    vertical-align: central;
}

/* fix for Bootstrap CSS messing up table grid_menu size
#table_gridMenu {
  height: auto;
  width: 100%;
}*/

#mapPane {
  padding: 0;
}

#tablePane {
  height: 350px;
  padding: 0;
}

#toolsPane {
  width: 300px;
}

#homeButton {
  position: absolute;
  top: 85px;
  left: 20px;
  z-index: 1;
}

.map progress {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.map:not([data-updating]) progress {
  display: none;
}

#search {
    position: absolute;
    top: 1em;
    left: 5em;
    z-index: 1;
    background-color: white;
}