<form class="basic-mode">
    <div class="basic-filters">
        <!-- State Route -->
        <label for="srInput">State Route</label>
        <select id="srInput" name="RouteID" class="form-control" data-where-template="{field} = '{value}'"></select>
        <datalist id="routeList" data-field-name="RouteID"></datalist>


        <label for="projectTitleInput">Project Title</label>
        <input id="projectTitleInput" name="Project_Title" type="text" title="Please enter a complete or partial project title."
            placeholder="Project Title" class="form-control" list="projectTitleList" data-where-template="{field} LIKE '%{value}%'"
        />
        <datalist id="projectTitleList" data-field-name="Project_Title"></datalist>

        <label for="countyInput">County</label>
        <select id="countyInput" name="County" class="form-control" data-where-template="{field} LIKE '%{value}%'">
            <option value=""></option>
            <option value="Adams">Adams</option>
            <option value="Asotin">Asotin</option>
            <option value="Benton">Benton</option>
            <option value="Chelan">Chelan</option>
            <option value="Clallam">Clallam</option>
            <option value="Clark">Clark</option>
            <option value="Columbia">Columbia</option>
            <option value="Cowlitz">Cowlitz</option>
            <option value="Douglas">Douglas</option>
            <option value="Ferry">Ferry</option>
            <option value="Franklin">Franklin</option>
            <option value="Garfield">Garfield</option>
            <option value="Grant">Grant</option>
            <option value="Grays Harbor">Grays Harbor</option>
            <option value="Island">Island</option>
            <option value="Jefferson">Jefferson</option>
            <option value="King">King</option>
            <option value="Kitsap">Kitsap</option>
            <option value="Kittitas">Kittitas</option>
            <option value="Klickitat">Klickitat</option>
            <option value="Lewis">Lewis</option>
            <option value="Lincoln">Lincoln</option>
            <option value="Mason">Mason</option>
            <option value="Okanogan">Okanogan</option>
            <option value="Pacific">Pacific</option>
            <option value="Pend Oreille">Pend Oreille</option>
            <option value="Pierce">Pierce</option>
            <option value="San Juan">San Juan</option>
            <option value="Skagit">Skagit</option>
            <option value="Skamania">Skamania</option>
            <option value="Snohomish">Snohomish</option>
            <option value="Spokane">Spokane</option>
            <option value="Stevens">Stevens</option>
            <option value="Thurston">Thurston</option>
            <option value="Wahkiakum">Wahkiakum</option>
            <option value="Walla Walla">Walla Walla</option>
            <option value="Whatcom">Whatcom</option>
            <option value="Whitman">Whitman</option>
            <option value="Yakima">Yakima</option>
        </select>

        <label for="legDistrictInput">Legislative District</label>
        <select id="legDistrictInput" name="Legislative_District" data-where-template="({field} = '{value}' OR (CHAR_LENGTH('{value}') = 1 AND {field} LIKE '%0' + '{value}' + '%') OR (CHAR_LENGTH('{value}') &gt; 1 AND {field} LIKE '%' + '{value}' + '%'))">
            <option value=""></option>
            <option value='0'>00: Statewide and Regionwide </option>
            <option value='1'>01: Northeast King County and South Snohomish County </option>
            <option value='2'>02: Pierce County including McKenna, Roy, Ft. Lewis, and DuPont </option>
            <option value='3'>03: Downtown Spokane including the North Side and South Hill </option>
            <option value='4'>04: Eastern parts of Spokane County </option>
            <option value='5'>05: Southeast King County including North Bend, Snoqualmie, and Issaquah </option>
            <option value='6'>06: Parts of Spokane, the Spokane Valley, and Southwest Spokane County </option>
            <option value='7'>07: Pend Oreille County, Stevens County, Ferry County, Lincoln County, and parts of Okanogan and Spokane counties
            </option>
            <option value='8'>08: Most of Benton County including Richland and Kennewick </option>
            <option value='9'>09: Adams County, Whitman County, and parts of Asotin and Spokane counties </option>
            <option value='10'>10: All of Island County and parts of Skagit and Snohomish counties </option>
            <option value='11'>11: South Seattle, part of West Seattle, and parts of Renton and Tukwila </option>
            <option value='12'>12: Chelan County, Douglas County, and parts of Grant and Okanagon counties </option>
            <option value='13'>13: Parts of Grant, Adams, Kittitas and Yakima counties </option>
            <option value='14'>14: Yakima and parts of Yakima County </option>
            <option value='15'>15: All of Klickitat County and parts of Yakima, Skamania, and Benton counties </option>
            <option value='16'>16: Franklin County, Walla Walla County, Columbia County, Garfield County, and most of Asotin County </option>
            <option value='17'>17: East Clark County and West Skamania County </option>
            <option value='18'>18: Parts of Clark, Cowlitz, and Lewis counties </option>
            <option value='19'>19: Pacific County, Wahkiakum County, and parts of Grays Harbor and Cowlitz counties </option>
            <option value='20'>20: Most of Lewis County, South Pierce County, and South Thurston County </option>
            <option value='21'>21: Edmonds, Woodway, Mukilteo, and parts of Lynnwood and Mountlake Terrace </option>
            <option value='22'>22: North Thurston County, including Olympia, Lacey, and most of Tumwater </option>
            <option value='23'>23: Kitsap County, including Bainbridge Island, Silverdale, Poulsbo, Kingston, and parts of Bremerton </option>
            <option value='24'>24: Clallam County, Jefferson County, and parts of Grays Harbor County </option>
            <option value='25'>25: Puyallup, Sumner, Milton, Pacific, and Edgewood </option>
            <option value='26'>26: Parts of Pierce County and Kitsap County, including Port Orchard and Gig Harbor, and parts of Tacoma and
                Bremerton </option>
            <option value='27'>27: Tacoma and Fife </option>
            <option value='28'>28: Fircrest, University Place, Lakewood, Steilacoom, Tillicum, parts of Tacoma, and the islands of Anderson,
                Ketron, and McNeil </option>
            <option value='29'>29: South Tacoma, Manitou, Parkland, McChord AFB, and McKinley Hill </option>
            <option value='30'>30: Federal Way and parts of Tacoma, Auburn, Fife, Milton, and Algona </option>
            <option value='31'>31: South King County and parts of Pierce County, including Auburn, Bonney Lake, Buckley, Carbonado, Enumclaw,
                and Greenwater </option>
            <option value='32'>32: Northwest King County, including North Ballard, Crown Hill, and Bitter Lake, and the cities of Shoreline
                and Lake Forest Park </option>
            <option value='33'>33: SeaTac, Des Moines, Normandy Park, and parts of Burien, Kent, Tukwila, and Renton </option>
            <option value='34'>34: West Seattle, Burien, and Vashon Island </option>
            <option value='35'>35: Mason County and parts of Grays Harbor, Kitsap, and Thurston counties </option>
            <option value='36'>36: Parts of Seattle, including Magnolia, Queen Anne, and Phinney Ridge, and parts of Ballard, Fremont, and Greenwood
            </option>
            <option value='37'>37: Parts of Seattle including Madrona, Leschi, Rainier Valley, Beacon Hill, and Rainier Beach </option>
            <option value='38'>38: Snohomish County including Everett, Marysville, and parts of the Snohomish Valley </option>
            <option value='39'>39: Rural Snohomish County and parts of Northeast King County </option>
            <option value='40'>40: San Juan County, parts of Skagit County, and Southwest Whatcom County </option>
            <option value='41'>41: Bellevue, Mercer Island, and parts of Issaquah and Renton </option>
            <option value='42'>42: Most of Whatcom County </option>
            <option value='43'>43: Parts of Seattle including Wallingford, Laurelhurst, Broadmoor, parts of Capital Hill, and Westlake </option>
            <option value='44'>44: South Snohomish County </option>
            <option value='45'>45: Parts of King County including Kirkland, Woodinville, Redmond, Duvall, and Carnation </option>
            <option value='46'>46: Parts of Seattle including View Ridge, Ravenna, Green Lake, Northgate, Pinehurst, and Lake City </option>
            <option value='47'>47: Southeast King County including the Renton Highlands, Kent, and Black Diamond </option>
            <option value='48'>48: Parts of King County including Medina, Yarrow Point, Clyde Hill, South Kirkland, and West Lake Sammamish
            </option>
            <option value='49'>49: Parts of Vancouver County and Clark County</option>
        </select>

        <!-- Revenue_Package -->
        <label for="revenuePackageInput">Revenue Package</label>
        <select id="revenuePackageInput" name="Revenue_Package" data-where-template="{field} = '{value}'">
            <option selected="selected"></option>
            <option value="2003 Nickel / TPA Combined">2003 Nickel / TPA Combined</option>
            <option value="2003 Nickel Package">2003 Nickel Package</option>
            <option value="2005 TPA Package">2005 TPA Package</option>
            <option value="2015 Connecting Washington Pkg">2015 Connecting Washington Pkg</option>
            <option value="Pre Existing Funds">Pre Existing Funds</option>
        </select>

        <!-- Sub_Category -->
        <label for="subCategoryInput">Sub Category</label>
        <select id="subCategoryInput" name="Sub_Category" data-where-template="{field} = '{value}'"></select>
    </div>

    <p>
        <a href="#" class="advanced-link">Advanced</a>
    </p>

    <div class="advanced-filters">
        <!-- PIN -->
        <label for="projectNoInput">Project No.</label>
        <input id="projectNoInput" name="PIN" type="text" class="form-control" pattern="\d{6}[A-Za-z]" title="Project number (six digits + letter)"
            data-where-template="LOWER({field}) = LOWER('{value}')" placeholder="Project No." list="pinList" />
        <datalist id="pinList" data-field-name="PIN"></datalist>

        <!-- Improvement_Type -->
        <label for="improvementTypeInput">Improvement Type</label>
        <input id="improvementTypeInput" name="Improvement_Type" type="text" class="form-control" placeholder="Improvement Type"
            data-where-template="LOWER({field}) = LOWER('{value}')" list="improvementTypeList" />
        <datalist id="improvementTypeList" data-field-name="Improvement_Type"></datalist>

        <!-- Work_Description -->
        <label for="workDescriptionInput">Work Description</label>
        <input id="workDescriptionInput" name="Work_Description" type="text" class="form-control" placeholder="Work_Description"
            data-where-template="LOWER({field}) = LOWER('{value}')" list="workDescList" />
        <datalist id="workDescList" data-field-name="Work_Description"></datalist>

        <!-- Sub_Program-->
        <label for="subProgramInput">Sub Program</label>
        <select id="subProgramInput" name="Sub_Program" class="form-control" data-where-template="LOWER({field}) = LOWER('{value}')"></select>

        <!-- Region -->
        <label for="regionInput">Region</label>
        <select id="regionInput" name="Region" class="form-control" data-where-template="LOWER({field}) = LOWER('{value}')"></select>

        <!-- Program -->
        <label for="programInput">Program</label>
        <select id="programInput" name="Program" class="form-control" data-where-template="LOWER({field}) = LOWER('{value}')"></select>

        <!-- Preliminary Engineering Start Date -->
        <label for="peStartDateInput">Preliminary Engineering Start Date</label>
        <div class="range-input-container">
            <input id="beginPEStartDateInput" name="Begin_Preliminary_Engineering" type="date" data-range-type="begin" data-range-id="peStartDate" />
            <input id="endPEStartDateInput" name="Begin_Preliminary_Engineering" type="date" data-range-type="end" data-range-id="peStartDate" />
        </div>

        <!-- Advertisement Date -->
        <label for="beginADateInput">Advertisement Date</label>
        <div class="range-input-container">
            <input id="beginADateInput" name="Advertisement_Date" type="date" data-range-type="begin" data-range-id="adDate" />
            <input id="endADateInput" name="Advertisement_Date" type="date" data-range-type="end" data-range-id="adDate" />
        </div>

        <!-- Operationally Complete Date -->
        <label for="beginOCDateInput">Operationally Complete Date</label>
        <div class="range-input-container">
            <input id="beginOCDateInput" name="Operationally_Complete" type="date" data-range-type="begin" data-range-id="ocDate" />
            <input id="endOCDateInput" name="Operationally_Complete" type="date" data-range-type="end" data-range-id="ocDate" />
        </div>

        <!-- Congressional_District -->
        <label for="cDistInput">Congressional District</label>
        <select id="cDistInput" name="Congressional_District" class="form-control" data-where-template="({field} = '{value}' OR (CHAR_LENGTH('{value}') = 1 AND {field} LIKE '%0' + '{value}' + '%') OR (CHAR_LENGTH('{value}') &gt; 1 AND {field} LIKE '%' + '{value}' + '%'))">
        </select>

        <!--
            NOTE: Begin_Mile_Post can possibly be *greater than* End_Mile_Post

            * B is the begin MP value the user has entered
            * E is the end   MP value that the user has entered.

            if B only
                Begin_Mile_Post >= B
            else if E only
                End_Mile_Post <= E
            else
                (Begin_Mile_Post BETWEEN B AND E) AND
                (End_Mile_Post BETWEEN B AND E)
        -->
        <label>Milepost</label>
        <div class="range-input-container">
            <input type="number" name="Begin_Mile_Post" id="beginMPInput" data-range-type="begin" data-range-id="milepost" placeholder="begin">
            <input type="number" name="End_Mile_Post" id="endMPInput" data-range-type="end" data-range-id="milepost" placeholder="end">
        </div>
    </div>

    <div class="btn-group btn-group-justified" role="group">
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div>
            <button type="reset" class="btn btn-default">Reset</button>
        </div>
    </div>
</form>